<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::WaEating_head" />

<head th:replace="fragments/footer::WaEating_foot" />

<head th:fragment="mainSwiper_head">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/mainSwiper.css}" />
	<link rel="stylesheet" th:href="@{/css/side.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<style>
	#bannerContainer {
		width: 80%;
		margin: 2% auto;
		overflow: scroll;
	}

	::-webkit-file-upload-button {
		width: 40%;
	}

	.table th:nth-child(1),
	.table th:nth-child(4) {
		width: 12.5%;
	}

	.table th:nth-child(2),
	.table th:nth-child(3) {
		width: 37.5%;
	}

	.table img {
		height: 100%;
		width: 100%;
	}

	.btn-info {
		color: #212529;
		background-color: rgb(254 251 251);
		border: 2px solid #d9d1dd !important;
		border-radius: 25px;
	}

	.btn-info:hover {
		box-shadow:
			inset 0 0 0 100px rgb(237, 231, 231);
		opacity: 1;
		transform: scale(1);
	}
</style>

<body>
	<div th:replace="fragments/header:: WaEating_header"></div>


	<div class="sideWrapper">
		<div class="sidebar">
			<ul th:replace="fragments/side_managerpage:: WaEating_sider_managerpage">

			</ul>
		</div>
		<div id="bannerContainer">
			<hr style="width: 100%;">
			<form th:action="@{/manager/banner/new}" method="get">
				<button class="btn btn-info" style="width: 13%; float: right;">배너 추가</button>
			</form>
			<div>
				<table class="table table-bordered table-striped table-hover table-responsive-xl">
					<thead class="thead-dark">
						<th>배너순서</th>
						<th>이미지</th>
						<th>썸네일</th>
						<th>관리</th>
					</thead>
					<tbody th:each="banner, iterStat : ${bannerList}">
						<td>[[${iterStat.index}+1]]</td>
						<td>
							<img th:src="@{${banner.photosImagePath}}" id="bannerImage" class="img-fluid" />
						</td>
						<form th:action="@{/manager/banner/save}" th:object="${banner}" enctype="multipart/form-data"
							method="post" class="bannerForm">
							<div class="form-group row">
								<div class="col-sm-8">
									<input type="hidden" th:field="*{photos}" />
									<input type="hidden" th:value="${banner.id}" name="id" />
									<td>
										<div class="thumbNailImg">
											<img class="thumbnail img-fluid" alt="Photos preview"
												th:src="@{${banner.photosImagePath}}"
												th:id="'thumbnail' + ${banner.id}" />
										</div>
									</td>
								</div>
								<td>
									<div class="thumbNailBtn" style="display: flex; justify-content: space-between;">
										<input type="file" th:id="'fileImage' + ${banner.id}" class="fileImage mb-2 "
											name="image" accept="image/png, image/jpeg, image/jpg" />
									</div>
									<input type="submit" value="등록" class="btn btn-light">
									<button class="deleteBtn btn btn-light"
										th:onclick="'deleteBanner(' + ${banner.id} + ')'">배너 삭제</button>
								</td>
							</div>
						</form>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
	function deleteBanner(id) {
		if (confirm("정말 삭제하시겠습니까?")) {
			window.location.href = 'banner/delete/' + id;
		}
	}


	$.ajax({
		url: '/banner',
		type: 'GET',
		dataType: 'json',
		success: function (data) {
		},
		error: function (jqXHR, textStatus, errorThrown) {
			console.log('Error: ' + textStatus);
		}
	});


	$(document).ready(function () {
		$('.fileImage').change(function () {
			var bannerId = $(this).attr('id').replace('fileImage', '');
			var fileSize = this.files[0].size;
			//1024*1024
			if (fileSize > 10048576) {
				this.setCustomValidity("You must choose an image less than 1MB!!");
				this.setCustomValidity();
			} else {
				this.setCustomValidity("");
				showImageThumbnail(this, bannerId);
			}
		});
	});

	// 썸네일 보이기
	function showImageThumbnail(fileInput, bannerId) {
		var file = fileInput.files[0];
		var reader = new FileReader();
		reader.onload = function (e) {
			$('#thumbnail' + bannerId).attr("src", e.target.result);
		};
		reader.readAsDataURL(file);
	}



	$(document).ready(function () {
		$('.bannerForm').submit(function (e) {
			e.preventDefault();
			var formData = new FormData(this);

			$.ajax({
				url: $(this).attr('action'),
				type: 'POST',
				data: formData,
				processData: false,
				contentType: false,
				success: function (response) {
					window.location.href = 'banner';
				},
				error: function (xhr, status, error) {
				}
			});
		});
	});

	$(document).ready(function () {
		$('.deleteBtn').click(function () {
			var bannerId = $(this).data('id');
			$.ajax({
				url: '/bannerEdit/delete/' + bannerId,
				type: 'DELETE',
				success: function (response) {
					$('tr[data-id=' + bannerId + ']').remove();
				},
				error: function (xhr, status, error) {
				}
			});
		});
	});


</script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
	var swiper = new Swiper(".swiper", {
		spaceBetween: 30,
		centeredSlides: true,
		autoplay: {
			delay: 2500,
			disableOnInteraction: false,
		},
		pagination: {
			el: ".swiper-pagination",
			clickable: true,
		},
		navigation: {
			nextEl: "#n",
			prevEl: "#p",
		},
	});

</script>

</html>