<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head th:replace="fragments/header::WaEating_head" />

<head>
   
   <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Reservation foodTable</title>
   
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
   <link rel="stylesheet" th:href="@{/css/side.css}">
   <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
   <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
   <script type="text/javascript" th:src="@{/js/common.js}"></script>
   
   <script type="text/javascript">
   $(function() {
     $("#password-check-btn").click(function(event) {
       event.preventDefault();
       checkPassWord();
     });
   });
   
   function checkPassWord(){
      userId=$("#id").val();
      userPassword=$("#password").val();
      csrfValue=$("input[name='_csrf']").val();
      
      params={id:userId,password:userPassword,_csrf: csrfValue};
      
      $.post("[[@{/member/check/password}]]",params,function(response){
         if(response == "pass"){
            $("#check").hide();
            $("#passcheck").show();
         }else if(response == "false"){
            showModalDialog("","비밀번호가 일치하지 않습니다.");
         }
      });
   }
    
    function showModalDialog(title,message){
      $("#modalTitle").text(title);
      $("#modalBody").text(message);
      $("#modalDialog").modal();
   }
</script>
</head>

<body>
   <div th:replace="fragments/header:: WaEating_header"></div>

   <!--side-->
   <div class="sideWrapper">
      <div class="sidebar">
         <ul th:replace="fragments/side_mypage:: WaEating_sider_mypage">
         	</ul>
      </div>
      <div class="test">
         <div class="main_content">
            <div class="wrapper" style="background: #fffef9;">
               <div style="display:block;" id="check">
                  <div class="title">
                     비밀번호 체크
                  </div>
                  <form>
                     <input type="hidden" id="id" name="id" th:value="${member.id}">
                     <div class="field">
                        <input type="password" id="password" name="password" required>
                        <label>비밀번호</label>
                     </div>
                     <div class="field">
                        <input type="submit" id="password-check-btn" value="비밀번호 확인">
                     </div>
                  </form>
               </div>
               <div id="passcheck" style="display:none">
				                     <div class="title">
                     비밀번호 체크
                  </div>
                  <form th:action="@{/mypage/save}" th:object="${member}" method="post" onsubmit="return checkNameUnique(this)">
                     <input type="hidden" th:field="*{id}"/>
                     
                     <div class="field">
                        <input type="text" th:field="*{name}" required>
                        <label>이름</label>
                     </div>
                     
                     <div class="field">
                        <input type="text" th:field="*{phone}" required>
                        <label>전화번호</label>
                     </div>
                     <div class="field">
                        <input type="text" th:field="*{userId}" required>
                        <label>사용자ID</label>
                     </div>         
                     <div class="field">
                        <input type="password" th:field="*{password}">
                        <label>비밀번호</label>
                     </div>            
                     <div class="field">
                        <input type="submit" value="수정하기">
                     </div>
                     <div class="content">
                        <div class="pass-link">
                           <a th:href="@{/}">홈으로</a>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
<div class="modal fade text-center" id="modalDialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title" id="modalTitle">Warning</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
         <div class="modal-body">
            <span id="modalBody"></span>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
</body>

</html>