	#headerContainer {
		display: flex;
		justify-content: center;
		height: 80px;
	}

	#header {
		background-color: black;
		width: 100%;
		height: 10%;
		position: fixed;
		display: flex;
		align-items: center;
		background: rgb(255, 253, 242, 0.9);
		color: white;
		z-index: 2;

	}

	#left {
		background-color: palegreen;
		width: 10%;
		height: 90%;
		float: left;
	}

	#right {
		background-color: white;
		width: 90%;
		height: 90%;
		float: left;
	}

	.fab {
		height: 100%;
		margin: 8% 3% 0 0;
	}

	.WaEating_headName {
		width: 24%;
		height: 100%;
		display: flex;
		align-items: center;
		text-align: center;
		float: left;
		margin-left: 1%;
		justify-content: center;
		color: #866464;

	}

	.WaEating_headName:hover {
		cursor: pointer;
	}

	#search-input {
		width: 90%;
		float: left;
		padding: 1%;
		border-radius: 4px;
		border: 2px solid  rgb(237, 231, 231) !important;
	}

	.search-form {
		float: left;
		width: 50%;
	}

	.headerLi {
		float: right;
		margin: 0 8%;

	}

	#search-button {
		float: left;
		padding: 1%;
		margin-left: 0.1%;
		border-radius: 5px;
		background-color: white;
		width: 6%;
		border: 2px solid  rgb(237, 231, 231) !important;
	}

	#headerUl {
		width: 25%;


	}

	.head-a {
		color: black;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: bold !important;
	}

	#logo {
		border-radius: 50%;
		width: 17%;
		margin-right: 3%;
	}