<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
   
   <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">


</head>

<body>

</ul>
<ul th:fragment="WaEating_sider_mypage">
      <li><a th:href="@{/mypage}"><i class="fas fa-user"></i>내 정보</a></li>
      <li><a th:href="@{/mypage/reservation}"><i class="fas fa-address-card"></i>예약정보</a></li>
      <li><a th:href="@{/mypage/update}"><i class="fa-solid fa-user-pen"></i> 내 정보 수정</a></li>
      <li><a th:href="@{/mypage/inquiry}"><i class="fa-solid fa-question"></i> 문의 조회</a></li>
      <li><a th:href="@{/mypage/update/interest}"><i class="fa-solid fa-heart"></i> 관심 목록 수정</a></li>
   </ul>


    
</body>

</html>
